# https://www.nginx.com/resources/wiki/start/topics/examples/phpfcgi/
# https://www.nginx.com/resources/wiki/start/topics/examples/full/
#

server { # php/fastcgi
    listen       80 {% if item.value.default == 'true' %}default{% endif %};
    server_name  {{item.value.servername}};
#    access_log   logs/{{item.value.servername}}.access.log  main;
    root         /var/www;

location ~* \.php$ {
    fastcgi_index   index.php;
    fastcgi_pass    {{ansible_eth1.ipv4.address}}:{{item.value.fpmport}};
    #fastcgi_pass   unix:/var/run/php-fpm/php-fpm.sock;
    include         fastcgi_params;
    fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
    fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
}
}
